Library
Temp
Logs
Build
Logs/ApiUpdaterCheck.txt
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
ProjectSettings/EditorBuildSettings.asset
Assets/Sprites/Droplet.png
Assets/Sprites/Droplet.png.meta
Assets/Sprites/Droplets.png
Assets/Sprites/Droplets.png.meta
Assets/Sprites/Grass1.png
Assets/Sprites/Grass1.png.meta
Assets/Sprites/Plant1.png
Assets/Sprites/Plant1.png.meta
Assets/Sprites/Smile.png
Assets/Sprites/Smile.png.meta
Assets/Sprites/Warning.png
Assets/Sprites/Warning.png.meta
